[submodule "API_Authentication"]
	path = API_Authentication
	url = https://github.com/promo-isen-mediterranee/Authentification-LDAP.git
	branch = main
[submodule "API_Stock"]
	path = API_Stock
	url = https://github.com/promo-isen-mediterranee/Stock.git
	branch = main
[submodule "API_Event"]
	path = API_Event
	url = https://github.com/promo-isen-mediterranee/Event.git
	branch = main
